[Desktop Entry]
Name=Emilia Pinball
Name[pl]=Pinball Emilia
Comment=OpenGL pinball game
Comment[pl]=Pinball w OpenGL
Exec=pinball
Icon=pinball
Terminal=false
Type=Application
Categories=Game;
# vi: encoding=utf-8
