[Desktop Entry]
Name=Emilia Pinball
Name[pl]=Pinball Emilia
Comment=OpenGL pinball game
Comment[pl]=Pinball w OpenGL
Exec=pinball
Icon=pinball.xpm
Terminal=0
Type=Application
